.honda-bg {
  background-color: #264653;
}
.btn-color {
  background-color: #e76f51;
  border: none;
}
.text-color {
  color: #e76f51;
}
.heading-color{
    color: #0A0826;
}
.proportion-color {
    color: #252B42;
}

